<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1><%= title %></h1>
    <% datas.forEach(function(data) %>

    <ul>
        <li><%= data.judul %></li>
        <li style="color:blue"><%= data.url %></li>
        <li><%= data.publised %></li>


    </ul>
    <% }) %>


    <footer><%= footer %></footer>

</body>

</html>